extends layout
block scripts
  script(type="text/javascript", src="javascripts/index.js")
block content
  div.main.center-column
    img(src="images/placeholder.jpg").pfp
    p.title Jaden Hou
  div.list
